<html>
			<head>
	<title>CodeX Application Form</title>
	<link rel="stylesheet" type="text/css" href="/css/Xfreelancing.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	<nav>
		<div class="logo">
			<a href="/index.html"><img src="css/img/codeX-logo-alt.svg" onerror="this.onerror=null; this.src='css/img/codeX-logo-alt.png'" alt="Home" ></a>
			<lg class="tagline">learn how to learn</lg>
		</div>
	    <ul>
	        <li><a href="/">Home</a></li>
	        <li><a href="#">Apply</a><span class="dropBottom"></span>
	            <ul>
	                <li><a onClick="location.href='/applicationForm'">Application Form</a>
	                <li><a href="/codecademy">Courses</a>
	                    <ul>
	                     <!--    <li><a href="#">Photoshop</a></li>
	                        <li><a href="#">Illustrator</a></li> -->
	                        <!-- <li><a href="#">Basic Source</a><span class="dropRight"></span>
	                        </li> -->
	                    </ul>
	                </li>
			    </ul>
			        </li>
			        <li><a href="#">About</a></li>
			        <li><a href="#">Contact</a></li>
			    </ul>
			</nav>
			</head>
		
	<body>
		<!-- <h1>Pure CSS3 Navigation with Effects</h1> -->
		{{{body}}}
	</body>
</html>