<html>
<head>
	<title>CodeX Application Form</title>
	<link type="text/css" rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/Xfreelancing.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">	
	<link rel="stylesheet" type="text/css" href="/css/footer.css">	
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<nav>
		<div class="logo">
			<a href="/"><img src="css/img/codeX-logo-alt.svg" onerror="this.onerror=null; this.src='css/img/codeX-logo-alt.png'" alt="Home" ></a>
			<lg class="tagline">learn how to learn</lg>
		</div>
	    <ul>
	<li><a href="/">Home</a></li>
	    <li><a href="#">Apply</a><span class="dropBottom"></span>
        <ul>
            <li><a onClick="location.href='/applicationForm'">Application Form</a>
            <li><a href="/codecademy">Courses</a>
                <ul>
                 <!--    <li><a href="#">Photoshop</a></li>
                    <li><a href="#">Illustrator</a></li> -->
                    <!-- <li><a href="#">Basic Source</a><span class="dropRight"></span>
                    </li> -->
                </ul>
            </li>
	    </ul>
	    </li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Contact</a></li>
	    </ul>
	</nav>
</head>
	<body>
			{{{body}}}
	</body>
<footer>			
	<div class="footer">
		<small class="shrinked">Contact us:</small>
		<!-- Below is (facebook) -->
	  	<div class="social">
		<a href="http://www.facebook.com/projectcodeX">
	  	 &#62220;
  	 	</a>
	  	</div>
		<!-- above is (facebook) -->
		<!-- Below is (twitter) --> 	
	  <div class="social">
		<a href="http://twitter.com/project_codeX">
	  	&#62217;
  		</a>
	  </div>
		<!-- above is (twitter) -->
		<!-- Below is (Google mail) -->  
	  <div class="social">
	  <a href="http://www.projectcodex.co/content/mailto:info@projectcodex.co">
	  	&#62223;
	  	</a>
	  </div>
		<!-- above is (Google mail) --> 
		<!-- Below is (instagram) -->
	  <div class="social">	  
        <div class="social-icon"> <a href="http://instagram.com/projectcodeX">
          <i class="fa fa-instagram fa-2x"></i></a>
        </div>
      </div>
		<!-- above is (instagram) -->	

			<!-- Below is (account details) -->
	  <div class="social">	  
        <div class="social-icon"> <a href="http://www.projectcodex.co/content/banking.html">
          <i class="fa fa-credit-card-alt"></i></a>
        </div>
      </div>
		<!-- above is (account details) -->	 
	  <div class="right">
	  	<small>Copyright © 2014<a href="/index.html">&nbsp; codeX</a> &nbsp;| &nbsp;All Rights Reserved</small>
	</div>
	</div> 
</footer>
		
</html>