<html>
<head>
	<title>CodeX Application Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/Xfreelancing.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">	
	<link rel="stylesheet" type="text/css" href="/css/footer.css">	
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
		<!-- <div class="logo">
			<a href="/"><img src="css/img/codeX-logo-alt.svg" onerror="this.onerror=null; this.src='css/img/codeX-logo-alt.png'" alt="Home" ></a>
			<lg class="tagline">learn how to learn</lg>
		</div> -->


		<div class="container">
  <nav class="mobile-layout">
    
<a href="/applicationForm">
<i class="fa fa-sticky-note"></i>
      <span>Apply</span>
    </a>
    <a href="/codecademy">
<i class="fa fa-terminal fa-2x"></i>
      <span>Courses</span>
    </a>

    <a href="/">
<img src="https://yt3.ggpht.com/-3Tsao8S3UcQ/AAAAAAAAAAI/AAAAAAAAAAA/AXZ9Zb4YtC8/s88-c-k-no/photo.jpg" style="height: 60px;width: 91px;">
    </a>
    <a href="#">
      <i class="fa fa-bookmark"></i>
      <span>about</span>
    </a>
    <a href="#">
      <i class="fa fa-envelope"></i>
      <span>Contact</span>
    </a>
  </nav>
</div>
<section class="page-heading">
<div class="container">
	<h3 style="color:white;color: white;background: #0E0E0E;opacity: .9;display: inline-block;padding-top: 20px;"> Do you have the X factor? </h3>
</div>
	</section>
</head>
	<body>
			{{{body}}}
	</body>
<footer>			
	<div class="footer">
		<small class="shrinked">Contact us:</small>
		<!-- Below is (facebook) -->
	  	<div class="social">
		<a href="http://www.facebook.com/projectcodeX">
	  	 &#62220;
  	 	</a>
	  	</div>
		<!-- above is (facebook) -->
		<!-- Below is (twitter) --> 	
	  <div class="social">
		<a href="http://twitter.com/project_codeX">
	  	&#62217;
  		</a>
	  </div>
		<!-- above is (twitter) -->
		<!-- Below is (Google mail) -->  
	  <div class="social">
	  <a href="http://www.projectcodex.co/content/mailto:info@projectcodex.co">
	  	&#62223;
	  	</a>
	  </div>
		<!-- above is (Google mail) --> 
		<!-- Below is (instagram) -->
	  <div class="social">	  
        <div class="social-icon"> <a href="http://instagram.com/projectcodeX">
          <i class="fa fa-instagram fa-2x"></i></a>
        </div>
      </div>
		<!-- above is (instagram) -->	

			<!-- Below is (account details) -->
	  <div class="social">	  
        <div class="social-icon"> <a href="http://www.projectcodex.co/content/banking.html">
          <i class="fa fa-credit-card-alt"></i></a>
        </div>
      </div>
		<!-- above is (account details) -->	 
	  <div class="right">
	  	<small>Copyright © 2014<a href="/index.html">&nbsp; codeX</a> &nbsp;| &nbsp;All Rights Reserved</small>
	</div>
	</div> 
</footer>
</html>