<body>
  <div class="content">
    <div class="row">
     <li class="form-line form-line-column form-col-1" style="" data-type="control_text" id="id_15">
            <div id="cid_15" class="form-input-wide">
              <div id="text_15" class="form-html">

                <h3>
                  Codecademy
                </h3>
                <div class="text-content" >Sign up for the two free <a target="_blank" title="Register on Codecademy" href="http://www.codecademy.com">Codecademy</a> courses.
                &nbsp;If you're new to coding, the two prerequisite courses help to see if coding is something you really love.<br>
                &nbsp;For those who have some experience, the courses help make sure that everyone has a common baseline to start with.
                Sign up and work your way through these two online courses:
                <a href="http://www.codecademy.com/en/tracks/web" title="Codecademy - HTML CSS" target="_blank"></a><a target="_blank" title="Codecademy Javascript" href="http://www.codecademy.com/en/tracks/javascript">Javascript</a>
                &nbsp;
                and
                &nbsp;<a href="http://www.codecademy.com/en/tracks/web" title="Codecademy Javascript" target="_blank">HTML &amp; CSS </a><br>
                <strong>No internet access?<br></strong>Don't worry! If you don't have internet access, check out the <a target="_blank" title="codeX Open Days" href="http://www.projectcodex.co/codeX-Open-Days/index.html">codeX Open Days</a> to find a venue near you.</div>
              </div>
            </div>
      </li>
        <form action="/question2" method="POST">
        <div id="cid_50" class="form-input-wide jf-required">
          <span class="form-sub-label-container" style="vertical-align: top">
            
           <div class="personalHd"><strong>Codecademy email address</strong></div>
            <div class="question">
              <input type="email" required/>
              <label>Email Address</label>
            </div>
            <small class="shrinked" for="input_50" style="min-height: 13px;"><br> Tell us your email address that you used to register on codecademy.com courses. We will send you an invite so that we can see how you are progressing through Codecademy. </small>
          </span>
        </div>
      </li>
     <div class="form-pagebreak">
        <div class="form-pagebreak-next-container">
          <button class="next" >Next</button> 
        </div>
      </div>
          </form>
    </div>
</div>

</body>