	<body>
	
	<h2><strong>Apply to become a codeX coder 
		Our first term for 2016 runs full-time in Cape Town from Feb - Dec 2016</strong></h2>
	<h2>View our Curriculum</h2> 

<p>codeX runs on project-driven learning. Check out our unique industry-fit curriculum.<br>
Tell us about your coding experience<br>
You don't need any coding experience to apply to codeX, but it helps us to know whether you have.<br>
We ask all of our applicants to complete two free online coding courses.<br>
If you've done programming at school, university, or in your own time, tell us about your projects.<br>
</p>
 	<div class="demo">
      <!-- Standard Select -->
      <div class="mdl-selectfield">
        <label>Standard Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Have you tried coding before?</option>
          <option value="1">No, not yet</option>
          <option value="2">Yes, a little</option>
          <option value="3">Yes, quite a bit</option>
        </select>
      </div>
    </div>
    
 <div class="row">
 <li class="form-line form-line-column form-col-1" style="" data-type="control_text" id="id_15">
        <div id="cid_15" class="form-input-wide">
          <div id="text_15" class="form-html">

            <h3>
              Codecademy
            </h3>
            <p>Sign up for the two free <a target="_blank" title="Register on Codecademy" href="http://www.codecademy.com">Codecademy</a> courses.</p>
            <p>&nbsp;If you're new to coding, the two prerequisite courses help to see if coding is something you really love.<br>&nbsp;For those who have some experience, the courses help make sure that everyone has a common baseline to start with.</p>
            <p>Sign up and work your way through these two online courses:</p>
            <p><a href="http://www.codecademy.com/en/tracks/web" title="Codecademy - HTML CSS" target="_blank"></a><a target="_blank" title="Codecademy Javascript" href="http://www.codecademy.com/en/tracks/javascript">Javascript</a>&nbsp;and&nbsp;<a href="http://www.codecademy.com/en/tracks/web" title="Codecademy Javascript" target="_blank">HTML &amp; CSS </a></p>
            <p><strong>No internet access?<br></strong>Don't worry! If you don't have internet access, check out the <a target="_blank" title="codeX Open Days" href="http://www.projectcodex.co/codeX-Open-Days/index.html">codeX Open Days</a> to find a venue near you.</p>
          </div>
        </div>
      </li>
</div>
	</body>