<body >

<div class="content1">
  <div class="row">
  <h2><strong>Apply to become a codeX coder</strong></h2> 
    <small class="underlined"> Our first term for 2016 runs full-time in Cape Town from Feb - Dec 2016</small>
  </br>
  </br>
  
  <h2>View our Curriculum</h2> 
<div class="text-content">codeX runs on project-driven learning. Check out our unique industry-fit <a title="codeX Curriculum" href="http://www.projectcodex.co/content/curriculum.html" target="_blank">curriculum</a>.<br>
<strong>Tell us about your coding experience</strong><br>
You don't need any coding experience to apply to codeX, but it helps us to know whether you have.<br>
We ask all of our applicants to complete two free online coding courses.<br>
If you've done programming at school, university, or in your own time, tell us about your projects.<br>
</div>
    <form action="/applicantDetails" method="POST">
     	<div class="demo">
          <!-- Standard Select -->
          <div class="mdl-selectfield">
            <label>Standard Select</label>
            <select class="browser-default" required>
              <option value="" disabled selected><strong>Have you tried coding before?</strong></option>
              <option value="1">No, not yet</option>
              <option value="2">Yes, a little</option>
              <option value="3">Yes, quite a bit</option>
            </select>
          </div>
      </div>



      <h3 class="personalHd" id="label_18" for="input_18">
          <strong>If you already have lots of coding experience, tell us about it here:</strong>
          </h3>
            <div class="question">
        <textarea type="text" cols="45" rows="5" id="myTextArea" required></textarea>
              <label>About my project</label>
            </div>

      <div class="form-pagebreak">
              <div class="form-pagebreak-next-container">
                <button class="next" >next</button>
              </div>
      </div>
  </div>
  </form>
  </div>

</body>
