<body>
	<div class="content1">
		<div class="row">
			<h2><strong>Personal details</strong></h2> 
	      	<div class="sm">Pg 2 of 5</div>

			<form>
				<div class="personalHd"><strong>YOUR FULL NAME</strong></div>
				<div class="person">
			  	<div class="question">
				    	<input type="text" required/>
				    	<label>First Name</label>
				  	</div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Last Name</label>
				  	</div>
				  	</div>
				<div class="personalHd"><strong>YOUR EMAIL ADDRESS</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Email Address</label>
				  	</div>
  					<div class="personalHd"><strong>YOUR PHONE NUMBER</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Phone no:</label>
				  	</div>

				  	<div class="personalHd"><strong>YOUR DATE OF BIRTH</strong></div>
				  	<div class="question">
				    	<input type="date" required/>
				  	</div>

				  	<div class="personalHd"><strong>City you live in</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>City</label>
				    	<h6>CodeX is a full time course and is currently running in Cape Town. All participants must be in the Cape Town area.
				    	
				  	</div>
				  		<div class="personalHd"><strong>Education and Experience</strong></div>
				  		<div class="question">
				  		<textarea id="input_18" class="form-textarea" name="q18_ifYou18" cols="45" rows="6"></textarea>
				  		<h6>Tell us what level of education you have,where you studied and whether you have experience in any field.</h6>
				  		</div>

				  		<h6><strong>Character references</strong></h6>
				  		<h6>We need contact details of someone outside of your family who knows you who can vouch for your character and talent.</h6>

				  		<h6>This could be someone you've worked with,or who taught or mebtored you,or someone else professionally qualified.</h6>

				  		<div class="personalHd"><strong>Reference name and surname</strong></div>
				  		<div class="question">
				    		<input type="text" required/>
				    		<label>name and surname</label>
				  		</div>

				  		<div class="personalHd"><strong>EMAIL ADDRESS</strong></div>
				  		<div class="question">
				    		<input type="text" required/>
				    		<label>Email Address</label>
				    		<h6>Email address for your reference</h6>
				    	</div>

				    	<div class="personalHd"><strong>PHONE NUMBER</strong></div>
				  		<div class="question">
				    		<input type="text" required/>
				    		<label>Phone no:</label>
				  		</div>
				  		<h6>My reference was my</h6>
				  		<form>
  							<input type="radio"  value="Teacher">Teacher
  							<br>
 							<input type="radio"  value="Mentor">Mentor
 							<br>
 							<input type="radio"  value="Employer">Employer
 							<br>
 							<input type="textbox" placeholder="Other">Other
						</form>




				  		<button>Submit</button>
			</form>
		</div>
	</div>
</body>