<body>
	<div class="content1">
		<div class="row">
			<h2><strong>Personal details</strong></h2> 
	      	<div class="text-content">Pg 2 of 5</div>

			<form>
				<div class="personalHd"><strong>YOUR FULL NAME</strong></div>
				<div class="person">
			  	<div class="question">
				    	<input type="text" required/>
				    	<label>First Name</label>
				  	</div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Last Name</label>
				  	</div>
				  	</div>
				<div class="personalHd"><strong>YOUR EMAIL ADDRESS</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Email Address</label>
				  	</div>
  					<div class="personalHd"><strong>YOUR PHONE NUMBER</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Phone no:</label>
				  	</div>

				  	<div class="personalHd"><strong>YOUR DATE OF BIRTH</strong></div>
				  	<div class="question">
				    	<input type="date" required/>
				  	</div>

				  	<div class="personalHd"><strong>City you live in</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>City</label>
 <small class="shrinked">
codeX is a full time course and is currently running in in Cape Town. All participants must live in the Cape Town area.</small>
				  	</div>

				<div class="form-pagebreak">
					<div class="form-pagebreak-next-container">
					  		<button>Submit</button><button class="back" onclick="window.location.href='/applicationForm'">Back</button> 
					</div>
				</div>
			</form>
		</div>
	</div>
</body>