<body>
	<div class="content1">
		<div class="row">
			<h2><strong>Personal details</strong></h2> 
	      	<div class="sm">Pg 2 of 5</div>

			<form>
				<div class="personalHd"><strong>YOUR FULL NAME</strong></div>
				<div class="person">
			  	<div class="question">
				    	<input type="text" required/>
				    	<label>First Name</label>
				  	</div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Last Name</label>
				  	</div>
				  	</div>
				<div class="personalHd"><strong>YOUR EMAIL ADDRESS</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Email Address</label>
				  	</div>
  					<div class="personalHd"><strong>YOUR PHONE NUMBER</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Phone no:</label>
				  	</div>

				  	<div class="personalHd"><strong>YOUR DATE OF BIRTH</strong></div>
				  	<div class="question">
				    	<input type="date" required/>
				  	</div>

				  	<div class="personalHd"><strong>City you live in</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>City</label>
				    	
				  	</div>

				  		<button>Submit</button>
			</form>
		</div>
	</div>
</body>