<body>
	<div class="content1">
		<div class="row">
			<h2><strong>Personal details</strong></h2> 
	      	<div class="text-content">Pg 2 of 5</div>
			<form>
				<div class="personalHd"><strong>Your full name</strong></div>
				<div class="person">
			  	<div class="question">
				    	<input type="text" required/>
				    	<label>First Name</label>
				  	</div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Last Name</label>
				  	</div>
				  	</div>
				<div class="personalHd"><strong>Your email adrress</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Email Address</label>
				  	</div>
  					<div class="personalHd"><strong>Your phone number</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Phone no:</label>
				  	</div>

				  	<div class="personalHd"><strong>Your date of birth</strong></div>
				  	<div class="question">
				    	<input type="date" required/>
				  	</div>

				  	<div class="personalHd"><strong>City you live in</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>City</label>
 <small class="shrinked">
codeX is a full time course and is currently running in in Cape Town. All participants must live in the Cape Town area.
</small>
				  	</div>
				  	<div class="personalHd"><strong>Education and Experience</strong></div>
				  	<div class="question">
				    	<textarea type="text" required/>
				    	</textarea>
 <small class="shrinked">
Tell us what level of education you have, where you studied and whether you have work experience in any field.</small>
				  	</div>
		  	<div class="personalHd"><strong>Character Reference</strong></div>
		  	<br>
		<div class="text-content">
	We need the contact details of someone outside of your family who knows you who can vouch for your character and talent.
</p>
	This could be someone you've worked with, or who has taught or mentored you, or someone else who is professionally qualified.
		</div>
			<br>
			<div class="personalHd"><strong>Reference Name and Surname</strong></div>
			<div class="person">
				<div class="question">
			    	<input type="text" required/>
			    	<label>First Name</label>
			  	</div>
			  	<div class="question">
			    	<input type="text" required/>
			    	<label>Last Name</label>
			  	</div>
			</div>
			<div class="personalHd"><strong>References email address</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Email Address</label>
				  	</div>
  					<div class="personalHd"><strong>Refernces phone number</strong></div>
				  	<div class="question">
				    	<input type="text" required/>
				    	<label>Phone no:</label>
				  	</div>
	<div class="demo">
          <!-- Standard Select -->
	      <div class="mdl-selectfield">
	        <label>Standard Select</label>
	        <select class="browser-default">
	          <option value="" disabled selected><strong>My Reference was my...</strong></option>
	          <option value="1">Teacher</option>
	          <option value="2">Mentor</option>
	          <option value="3">Employer</option>
	        </select>
	      </div>
      	<span class="form-radio-item">
          <input type="radio">
          <input type="text" placeholder="other">
        </span>
	</div>	
		    <br>
			<div class="form-pagebreak">
		  	</div>
		  	<br>
		    <div class="save_cont">
		    <button class="save" onclick="location.href='/saveCurrentInfo'">Save it for later</button>
		    </div>
			<div class="form-pagebreak">
				<div class="form-pagebreak-next-container">
		  		<button class="back" onclick="location.href='/applicationForm'">Back</button>
		  		<button class="next">Next</button> 
				</div>
			</div>
			</form>
		</div>
	</div>
</body>