<body >

<div class="content1">
  <div class="row">
  <h2><strong>Apply to become a codeX coder</strong></h2> 
    <small>Our first term for 2016 runs full-time in Cape Town from Feb - Dec 2016</small>
  <h3>View our Curriculum</h3> 

<div class="sm">codeX runs on project-driven learning. Check out our unique industry-fit curriculum.<br>
Tell us about your coding experience<br>
You don't need any coding experience to apply to codeX, but it helps us to know whether you have.<br>
We ask all of our applicants to complete two free online coding courses.<br>
If you've done programming at school, university, or in your own time, tell us about your projects.<br>
</div>
     	<div class="demo">
          <!-- Standard Select -->
          <div class="mdl-selectfield">
            <label>Standard Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Have you tried coding before?</option>
              <option value="1">No, not yet</option>
              <option value="2">Yes, a little</option>
              <option value="3">Yes, quite a bit</option>
            </select>
          </div>
      </div>
    </div>
  </div>

</body>
