@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

footer small.shrinked {
    color: #6d6d6d;
    font-size: small;
    font-family: sans-serif;
    line-height: 60px;
}
.content {
  padding: 30px;
  font: 300 40px Lato, sans-serif;
  text-align: center;
  color: #999;
  background: #eee;
}
.right {
    color: #5B7575;
    width: 33.33333333%;
}
.footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #212121;
    padding: 20px 0;
    text-align: end;
}
.social {
    display: inline-block;
    width: 45px;
    height: 43px;
    margin: -23px 7px;
    line-height: 44px;
    font-family: Entypo;
    font-size: 20px;
    text-align: center;
    color: rgba(72, 56, 56, 0.91);
    border-radius: 26%;
    background: rgb(220, 220, 220);
    overflow: hidden;
    transition: color .3s;
}
.social:hover {
  color: #59d;
  cursor: pointer;
}
.social a:hover {
  color: #59d;
  cursor: pointer;
}
.social a {
    display: block;
    color: #554747;
    text-decoration: none;
}
.fa-credit-card-alt:before {
    content: "\f283";
    line-height: 45px;
    display: block;
}