body{
  font-family: 'Muli', sans-serif;
}
* {
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

section.page-heading {
    background: url(/img/apply.jpg) no-repeat;
    background-size: cover;
    opacity: .9;
    padding: 15px;
    border-radius: 0.5em;
    margin-bottom: 20px;
}
body {
  background: -webkit-radial-gradient(center ellipse, #4c4c4c 0%, #131313 84%, #131313 100%);
  background: radial-gradient(ellipse at center, #4c4c4c 0%, #131313 84%, #131313 100%);
  max-width: 445px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .9px;
}
.question {
    resize: both;
    overflow: auto;
}
.logo img {
    height: 60px;
    width: 91px;
}
.container {
  box-shadow: 0px 0px 32px 0px black;

}

.mobile-layout {
  background: transparent;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.mobile-layout a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  background: #2b737c;
  width: 100%;
  height: 100%;
  /*  border-bottom: 5px solid lighten($background-a, 10%);*/
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.mobile-layout a:hover {
  background: #3896a2;
}
.mobile-layout a span {
  font-weight: 300;
  font-size: .7rem;
}
.mobile-layout .active {
  background: #3896a2;
  color: #fff;
}
.mobile-layout .fa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.content {
   color: darkgreen;
    display: block;
    background-color: #8bc53f;
    padding: 5px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.content .title {
    background-color: black;
    position: static;
    /* background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(http://www.media-ideas.co.uk/images/bg/6.jpg) no-repeat; */
    background: linear-gradient(rgba(0, 0, 0, 0.2), #8bc53f), url(/css/img/codeX-logo-alt.svg) no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 200px;
};

.content .title h1 {
  width: 300px;
  margin: 0;
  margin-left: 35px;
  position: absolute;
  bottom: 25px;
  width: 60%;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}
.content p {
  color: #727272;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  margin: 0;
  margin-left: 35px;
  margin-right: 35px;
  font-size: .9rem;
  padding-top: 50px;
}
.content p:last-child {
  padding-top: 40px;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  height: 70px;
  background: #173e43;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-size: .8rem;
}

form {
  position: relative;
  /*display: inline-block;*/
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form h1 {
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
form button {
    margin-top: 35px;
    margin-left: 15px;
    background-color: rgba(139, 197, 63, 0.46);
    border: 1px solid #8bc53f;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 0.5em;
    color: #1A1B1B;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    /*float: right;*/
}
form button.save {
    text-align: center;
    position: relative;
    background-color: rgba(93, 255, 74, 0.38);
    color: forestgreen;
    margin:auto;
    bottom: 5px;
    left: 30%;
}
form button.back {
        background-color: #009c75;
}
form button.next {
  float: right;
}
form button:hover, form button:focus {
    /* color: #30843c; */
    background-color: #8bc53f;
    /*color: #ff4a56;*/
}

form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
    padding-top: 41px;
}
form .question {
    position: relative;
    padding: 40px 6px;}
form .question label {
    transform-origin: center;
    color: #18940C;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}
form .question input[type="text"] {
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 11px;
    display: block;
    box-sizing: border-box;
    padding: 7px 28px;
    border-radius: 15px;
    color: #30843C;
    font-weight: 100;
    text-align: start;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="text"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

form .question input[type="date"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 7px 17px;
    border-radius: 60px;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="date"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="date"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="date"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="date"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
textarea {
    /*color: inherit;*/
    line-height: auto;
    /*font: inherit;*/
    /*margin: 0;*/
}

/*form .question textarea[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 31px 38px;
    border-radius: 0.5em;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: static;
}*/

form .question textarea[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 34px 0px 54px;
    border-radius: 0.5em;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
}
form .question textarea[type="text"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question textarea[type="text"]:valid {
  margin-top: 30px;
  margin-bottom: 20px;
}
form .question textarea[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question textarea[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -151px) scale(0.6);
}



form .question input[type="email"] {
    border: 1px solid #6C9816;
    font-size: 11px;
    display: block;
    box-sizing: border-box;
    padding: 6px 26px;
    border-radius: 0.5em;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: static;
}
form .question input[type="email"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="email"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="email"]:invalid {
  margin-top: 20px;
  margin-bottom: 6px;
}
form .question input[type="email"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="email"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
/*form .question input[type="email"]:invalid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}*/
form .question input[type="tel"] {
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 6px 26px;
    border-radius: 0.5em;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: static;
}
form .question input[type="tel"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="tel"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="tel"]:invalid {
  margin-top: 20px;
  margin-bottom: 6px;
}
form .question input[type="tel"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="tel"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
/*form .question input[type="tel"]:invalid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}*/


.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.transition, form button, form .question label, form .question input[type="email"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.transition, form button, form .question label, form .question textarea[type="text"] {

  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}
/*select section style below*/
select {
    font-family: inherit;
    background-color: transparent;
    width: inherit;
    padding: 4px 19px;
    font-size: 13px;
    color: yellowgreen;
    border: radius;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    rgba(0,0,0, 0.12);
    margin-top: 36px;
    margin-bottom: 68px;
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}
/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    /*position: fixed;*/
}
.mdl-selectfield:after {
    position: relative;
    top: 0.75em;
    right: 1.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0,0,0, 0.12);
    pointer-events: none;
}
.form-pagebreak {
    margin: 0 36px;
    border-top: 1px solid #e3e3e3;
    background: transparent;
    height: auto;
    overflow: hidden;
}
.demo {
  margin: 0 auto;
  top: 50%;
  margin-top: -2em;
  position: inherit;
  right: 0;
  left: 0;
}
/*select style above*/
.row{
    margin: 50px;
}
img {
    height: 59px;
    width: 150px;
    background: rgba(0, 0, 0, 0.38);
}
small {
    font-size: smaller;
}
small.underlined {
    font-size: smaller;
    text-decoration: underline;
}
small.shrinked {
    font-size: x-small;
}
div .text-content {
     font-size: smaller;
     padding: 5px;
    line-height: 150%;
}
div .personalHd {
    font-size: smaller;
    position: fixed;
    line-height: 18px;
}
label .sm {
     font-size: smaller;
     width: 600px; padding: 5px;
}

input {
    text-align: center;
    border-radius: 10px;
    border-color: mediumspringgreen;
}
.person{
  display: -webkit-inline-box;
}
