@font-face {
  font-family: 'muli';
  src: url('/css/Muli/Muli-Regular.ttf') format('truetype');
}

body {
    font-family: 'muli',sans-serif;
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}
.transition, form button, form .question label, form .question input[type="email"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
    font-family: 'muli', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
}

/*html {
  background-color: #ff4a56;
}*/
.content1 {
    color: darkgreen;
    display: block;
    -webkit-margin-before: 7em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 300px;
    -webkit-margin-end: 300px;
    background-color: #8bc53f;
    padding: 5px;
    -webkit-border-radius: 12px; 
  /* Firefox 1-3.6 */
    -moz-border-radius: 12px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px; 
}


form {
    position: absolute;
    /* display: inline-block; */
    box-sizing: border-box;
    /* padding: 30px 25px; */
    background-color: white;
    border-radius: 40px;
    /* margin: 40px 0; */
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
form h1 {
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
form button {
    margin-top: 35px;
    background-color: #8bc53f;
    border: 1px solid #188616;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 0.5em;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form button:hover, form button:focus {
  color: white;
  background-color: #ff4a56;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
    padding-top: 41px;
}
form .question {
    position: relative;
    padding: 38px 6px;
}
form .question label {
    transform-origin: center;
    color: #18940C;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}
form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 7px 17px;
    border-radius: 60px;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="text"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

form .question input[type="date"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 7px 17px;
    border-radius: 60px;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="date"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="date"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="date"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="date"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}


form .question input[type="email"] {
    appearance: none;
    background-color: none;
    border: 1px solid #6C9816;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
    padding: 7px 17px;
    border-radius: 60px;
    color: #30843C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="email"]:focus {
  outline: none;
  background: rgba(23, 121, 37, 0.44);
  color: white;
  margin-top: 20px;
}
form .question input[type="email"]:valid {
  margin-top: 20px;
  margin-bottom: 20px;
}
form .question input[type="email"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="email"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}


/*select section style below*/
select {
    font-family: inherit;
    background-color: transparent;
    width: inherit;
    padding: 4px 19px;
    font-size: 13px;
    color: yellowgreen;
    border: radius;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    rgba(0,0,0, 0.12);
    margin-top: 36px;
    margin-bottom: 68px;
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
    font-family: 'muli',sans-serif;
}
.mdl-selectfield:after {
    position: relative;
    top: 0.75em;
    right: 1.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0,0,0, 0.12);
    pointer-events: none;
}

.form-pagebreak {
    margin: 0 36px;
    border-top: 1px solid #e3e3e3;
    background: transparent;
    height: auto;
    overflow: hidden;
}

.demo {
  margin: 0 auto;
  top: 50%;
  margin-top: -2em;
  position: inherit;
  right: 0;
  left: 0;
}
/*select style above*/


.row {
    /* display: inline-block; */
    min-width: 11%;
    min-height: 243%;
    /* margin: inherit; */
    content: initial;
}

img {
    height: 59px;
    width: 150px;
    background: rgba(0, 0, 0, 0.38);
}

small {
    font-size: smaller;
    text-decoration: underline;

}

div .sm {
     font-size: smaller;
     padding: 5px;
    line-height: 150%;
}

div .personalHd {
    font-size: smaller;
    position: static;

}

label .sm {
     font-size: smaller;
     width: 600px; padding: 5px;
}

input {
    text-align: center;
    border-radius: 10px;
    border-color: mediumspringgreen;
}

.btn-4 {
    border-radius: 13px;
    border: 3px solid #188616;
    color: #FFF;
    overflow: hidden;
    font-family: inherit;
    /* font-size: inherit; */
    color: inherit;
    background: transparent none repeat scroll 0% 0%;
    cursor: pointer;
    padding: 10px 5px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: medium none;
    position: relative;
    transition: all 0.3s ease 0s;
    float: right;
}
.person{
  display: -webkit-inline-box;
}

/*below is the strucure of html content*/
 @media only screen and (max-device-width: 480px) {
    div#wrapper {
      width: 400px;
    }

    div#header {
      background-image: url(media-queries-phone.jpg);
      height: 93px;
      position: relative;
    }

    div#header h1 {
      font-size: 140%;
    }

    #content {
      float: none;
      width: 100%;
    }

    #navigation {
      float:none;
      width: auto;
    }
  }

  /*above is the structure of html content*/